html {
	overflow-x: hidden;
}

body {
	margin: 0;
}

	/* font-family: "SegoeUIRegular"; */
@font-face {
    font-family: "SegoeUIRegular";
    src: url("fonts/SegoeUIRegular/SegoeUIRegular.eot");
    src: url("fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix")format("embedded-opentype"),
    url("fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"),
    url("fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

	/* font-family: "SegoeUILight"; */
@font-face {
    font-family: "SegoeUILight";
    src: url("fonts/SegoeUILight/SegoeUILight.eot");
    src: url("fonts/SegoeUILight/SegoeUILight.eot?#iefix")format("embedded-opentype"),
    url("fonts/SegoeUILight/SegoeUILight.woff") format("woff"),
    url("fonts/SegoeUILight/SegoeUILight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

	/* font-family: "SegoeUIBold"; */
@font-face {
    font-family: "SegoeUIBold";
    src: url("fonts/SegoeUIBold/SegoeUIBold.eot");
    src: url("fonts/SegoeUIBold/SegoeUIBold.eot?#iefix")format("embedded-opentype"),
    url("fonts/SegoeUIBold/SegoeUIBold.woff") format("woff"),
    url("fonts/SegoeUIBold/SegoeUIBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "SegoeUISemiBold"; */
@font-face {
    font-family: "SegoeUISemiBold";
    src: url("fonts/SegoeUISemiBold/SegoeUISemiBold.eot");
    src: url("fonts/SegoeUISemiBold/SegoeUISemiBold.eot?#iefix")format("embedded-opentype"),
    url("fonts/SegoeUISemiBold/SegoeUISemiBold.woff") format("woff"),
    url("fonts/SegoeUISemiBold/SegoeUISemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.header {
	height: 51px;
	background-color: #484649;
	font-family: "SegoeUIRegular", Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #fff;
	margin-top: 26px;
	margin-bottom: 0;
}

.header__block {
	position: relative;
	left: 50%;
	margin-left: -840px;
}

.header__logo {
	position: absolute;
	float: left;
	font-size: 36px;
	left: 460px;
	letter-spacing: 5px;
}

.header__menu {
	position: absolute;
	left: 870px;
}

.header__menu-item {
	text-decoration: none;
	display: inline-block;
	color: #fff;
	margin-top: 12px;
	margin-right: 20px;
}

.wrapper {
	margin: auto;
	min-width: 1300px;
}

.main {
	height: 637px;
	background-image: url("images/foto.jpg");
	background-position: center top;
	background-repeat: no-repeat;
}

.main__title {
	width: 1300px;
	height: 137px;
	background-color: #e3dae0;
	position: absolute;
	top: 107px;
	/*left: 50%;
	margin-left: -650px;*/
	margin: auto;
	left: 0;
	right: 0;
	/*opacity: .4;*/
	background: rgba(245,241,244, .4);
}

.main__title-content {
	font-size: 50px;
	color: #484649;
	font-family: "SegoeUILight", Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 6px;
	position: absolute;
	margin: auto;
	right: 0;
	left: 0;
}

.main__unit {
	width: 340px;
	height: 180px;
	background-color: #e3dae0;
	position: absolute;
	top: 392px;
	right: 50%;
	margin-right: -405px;
	background: rgba(245,241,244, .4);
	/*opacity: .37;*/
}

.main__unit-content {
	font-size: 24px;
	color: #484649;
	font-family: "SegoeUIRegular", Arial, Helvetica, sans-serif;
	letter-spacing: 3px;
	position: absolute;
	margin: auto;
	right: 0;
	left: 0;
/*	top: 393px;
	right: 50%;
	margin-right: -435px;*/
}

.main__opacity {
	position: absolute;
	top: 669px;
	right: 50%;
	margin-right: -405px;
	opacity: .77;
	cursor: pointer;
}

.button {
	display: block;
	cursor: pointer;
	text-align: center;
	margin-top: 60px;
	margin-bottom: 60px;
}

.section__H1 {
	font-size: 50px;
	color: #636164;
	font-family: "Times New Roman", Times, serif;
	font-weight: normal;
	text-transform: capitalize;
	text-align: center;
	letter-spacing: 1px;
}

.section__H2 {
	font-size: 24px;
	color: #636164;
	font-family: "SegoeUIRegular", Arial, Helvetica, sans-serif;
	text-align: center;
	letter-spacing: 1px;
	margin: 0;
}

.line {
	display:block;
	margin:0 auto;
}

.recall {
	width: 740px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 50px;
}

.recall__name {
	font-size: 18px;
	color: #5c595d;
	font-family: Calibri, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: left;
	letter-spacing: 1px;
	margin: 0;
}

.recall__address {
	font-size: 14px;
	color: #5b575d;
	font-family: Calibri, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: left;
	letter-spacing: 1px;
	margin: 0;
}

.recall__txt {
	font-size: 18pxpx;
	color: #5b575d;
	font-family: Calibri, Arial, Helvetica, sans-serif;
	font-style: italic;
	font-weight: bold;
	text-align: left;
	letter-spacing: 1.7px;
	margin-top: 10px;
}

.recall__menfoto {
	position: relative;
	top: -160px;
	margin-left: 550px;
	margin-bottom: 40px;
	height: 100%;
}

.recall__mencontent {
	height: 165px;
	position: relative;
	top: 65px;
	margin-bottom: 80px;
}

.recall__menname {
	font-size: 18px;
	color: #5c595d;
	font-family: Calibri, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: left;
	letter-spacing: 1px;
	padding-left: 370px;
	margin: 0;
}

.recall__menaddress {
	font-size: 14px;
	color: #5b575d;
	font-family: Calibri, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: left;
	letter-spacing: 1px;
	padding-left: 370px;
	margin: 0;
}

.recall__mentxt {
	font-size: 18pxpx;
	color: #5b575d;
	font-family: Calibri, Arial, Helvetica, sans-serif;
	font-style: italic;
	font-weight: bold;
	text-align: left;
	letter-spacing: 1.7px;
	margin-top: 10px;
}

.recall__foto {
	float: left;
	height: 100%;
}

.recall__content {
	position: relative;
	top: 20px;
	left: 50px;
}

.line2 {
	display: block;
	margin: 0 auto;
	margin-top: 100px;
}

.form {
	position: relative;
	left: 12px;
}

.form__email {
	position: absolute;
	left: 50%;
	margin-left: -358px;
	margin-top: 60px;
	display: block;
	float: left;
	background-color: #c7c4c8;
	color: black;
	margin-right: 2px;
	width: 350px;
	height: 89px;
	opacity: .4;
	text-align: center;
	font-size: 26px;
	font-family: "SegoeUIRegular", Arial, Helvetica, sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
	border: none;
}

.btn__email {
	position: absolute;
	margin-top: 60px;
	left: 50%;
	margin-left: -6px;
	width: 350px;
	height: 91px;
}

.footer {
	height: 240px;
	background-color: #484649;
	font-family: "SegoeUIRegular", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #fefefe;
	margin-top: 400px;
	margin-right:  auto;
	margin-bottom: 0;
	margin-left: auto;
}

.footer__content {
	position: absolute;
	left: 50%;
	margin-left: -650px;
}

.footer__logo2 {
	display: inline-block;
	font-size: 36px;
	margin-top: 40px;
	margin-right: 110px;
	margin-bottom: auto;
	margin-left: 252px;
	letter-spacing: 5px;
	float: left;
}

.footer__about {
	display: inline-block;
	margin-top: 45px;
	height: 235px;
	width: 145px;
	float: left;
}

.footer__list {
	list-style: none;
	margin: 7px auto;
}

.footer__legal {
	display: inline-block;
	margin-top: 45px;
	height: 235px;
	width: 274px;
	float: left;
}

.footer__social {
	display: inline-block;
	margin-top: 45px;
	height: 235px;
	width: 170px;
	float: left;
}

.footer__H4 {
	font-family: "SegoeUIRegular", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #fdfbfb;
}

.footer__H5 {
	font-family: "SegoeUIRegular", Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #fdfbfb;
	cursor: pointer;
}

.footer__H5:hover {
	text-decoration: underline;
}